.background-image {
    background-image: url("../images/bg.jpg");
  } 

  .content-container{
  }

    .top-image{ 
    max-height: 360px;
    background-image:url("../images/grid.png"), url("../images/top-image.png");
  }

  .content-card {
    margin: 4px;
    background-color: blue;
  }

  .peralta-logo{
    max-width: 413px;
    margin: 90px;
  }

  .lance-card{
    background-image: url("../images/sk8er-4.png");
    background-size: cover;
    min-height: 275px;

  }

.rodney-card{
  background-image: url("../images/sk8er-3.png");
  background-size: cover;
  min-height: 275px;
}

  .steve-card{
    background-image: url("../images/sk8er-1.png");
    background-size: cover;
    min-height: 275px;
  }
  .tommy-card{
    background-image: url("../images/sk8er-2.png");
    background-size: cover;
    min-height: 475px;
  }

  .lance-card, .rodney-card, .steve-card,.tommy-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sk8-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ul-sk8{
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-90deg);
    background-color: #fff;
    list-style-type: none;
    display: inline-block;
  }

  .ul-sk8 > li{
    margin: 8px;
  }
  